uvicorn==0.34.3
fastapi==0.115.12
dotenv==0.9.9
agno==1.5.6
sqlalchemy==2.0.41
tavily-python==0.7.3
openai==1.83.0
sentence-transformers==4.1.0
pypdf==5.6.0
pgvector==0.4.1
google_auth_oauthlib==1.2.2
google-api-python-client==2.170.0
psycopg==3.2.9
streamlit==1.45.1
